.App-wrapper {
    margin: 30px;
}

.App {
    max-width: 1200px;
    margin: auto;
}

.List-item .List-item-delete {
    opacity: 0;
}
.List-item:hover .List-item-delete {
    opacity: 1;
}
.List-item-delete:focus {
    opacity: 1;
}

.List-item-header {
    display: flex;
}

.List-item-header > :first-child {
    flex-grow: 1;
}

.List-item-number {
    font-weight: lighter;
    color: dimgray;
}

.Login {
    max-width: 500px;
    margin: auto;
}

.AddTicket-content-textarea {
    height: 200px;
}